/* Global Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, ode, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Mina', sans-serif;
    vertical-align: baseline;
}

/* 
    HTML5 display-role reset for older browsers 
*/

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
}

h1 {
    font-size: 2.25em;
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ec5b5b;
}

p {
    line-height: 1.2;
}

span.elipsis {
    color: #ec5b5b;
}

.container {
    display: grid;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 3.5em 0;
    width: 75%;
    margin: 0 auto;
}

form input {
    width: 75%;
    margin: 0 auto;
    padding: 1em;
    background: transparent;
    border: 1px solid white;
    font-size: 1em;
    color: white;
    font-family: inherit;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

button {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background: #FF6D6D;
    box-shadow: 0px 2px 8px #0000008a;
    font-size: 1em;
    color: white;
    border: 0;
    font-family: inherit;
}

img {
    display: block;
    margin: 0 auto;
}

@-webkit-keyframes anim {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes anim {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.App {
    background-image:url(../images/header-photo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.landing {
    width: 100%;
    text-align: center;
    padding: 20em 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}

header #heading-container,
header div:last-child {
    width: 50%;
    margin: 0 auto;
}

header img {
    padding: 2em;
    margin: 0 auto;
}

header div:last-child {
    padding: 1em;
}

header button {
    border: 0;
    padding: 1em 3.5em;
    background: #ec5b5b;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    color: white;
    
    width: 30%;
}

header button:hover, 
section.trial button:hover {
    background: #ec5b5bc7;
    transition: background 1s ease;
    cursor: pointer;
}

header button:focus,
section.trial button:focus {
    background: #7676e2;
}

header p {
    font-weight: bold;
    margin: 1em 0;
    font-size: small;
}

/* Main */
main {
    margin: 20% 0;
}

section.design {
    background: #ffffffca;
    box-shadow: 0px 1px 1em #00000030;
}

section.design .container {
    grid-template-columns: 2fr 1fr;
}

.text-container {
    padding: 6.5em 8em;
    width: 70%;
    margin: 0 auto;
}

.text-container > * {
    padding: 0.5em 0;
}

.accent-container {
    display: block;
    background: #ECECEC url(../images/decorationBox.png) no-repeat bottom right;
    background-size: 100%;
}

section.features {
    background: url(../images/section3-photoBackground.jpg) no-repeat 0% 30%;
    background-size: cover;
    text-align: center;
}

section.features .container {
    grid-template-rows: repeat(2, 1fr);
}

section.features .container > div:first-child {
    padding: 4em 0;
}

section.features .container > div:first-child > * {
    padding: 0.5em 0;
}

section.features .container > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0em 0em 4em 0;
}

section.features .container>div:nth-child(2) div {
    width: 50%;
    margin: 0 auto;
}

section.features .container>div:nth-child(2) div h3 {
    padding: 1em 0;
}

section.responsive {
    background: #ffffffca;
}

section.responsive .container {
    grid-template-columns: repeat(2, 1fr);
}

section.responsive .container div:first-child {
    padding: 6em 0;
    display: block;
    background: #ECECEC url(../images/decorationBox.png) no-repeat 100%;
    background-size: 100%;
}

section.responsive img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    animation: none;
}

section.responsive .container div:nth-child(2) {
    padding: 6em 0;
    width: 70%;
    margin: 0 auto;
}

section.responsive .container div:nth-child(2) > * {
    padding: 0.5em 0;
}

section.founders {
    background: url(../images/section5-background.jpg) no-repeat;
    background-size: cover;
    color: #ffffffca;
    text-align: center;
}

section.founders .container {
    grid-template-rows: repeat(2, 1fr);
}

section.founders .container > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3em;
}

.founders-profile {
    width: 55%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}

.avatar {
    display: block;
    height: 60px;
    width: 60px;
    background: dimgrey;
    margin: 1em auto;
}

.founders-profile p,
.founders-profile h3,
.founders-profile h4 {
    padding: 0.5em 0;
}

section.founders .container .brands {
    display: grid;
    margin: 8em;
    justify-self: center;
    grid-gap: 5em;
    grid-template-columns: repeat(5, 1fr);
}


section.showcase {
    background: #0000008a;
    color: white;
    box-shadow: 0px 5px 8px #0000004d;
}

section.showcase .container {
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

section.showcase .container > div:first-child {
    padding: 4em 0;
}

section.showcase .container > div:first-child > * {
    padding: 0.5em 0;
}

section.showcase .container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    animation: none;
}


section.trial {
    background: #323969cf;
    color: white;
    text-align: center;
    position: relative;
}

section.trial .container {
    grid-template-rows: repeat(3, 1fr);
    padding: 4em 0;
}

section.trial .container > div:first-child > * {
    padding: 0.5em 0;
}

section.trial .container div:first-child > span {
    position: absolute;
    top: 35%;
    right: 15%;
}

section.trial .container div:first-child > span:before {
    content: "\2B10";
    font-size: 1.5em;
    margin-right: 0.5em;
}


footer {
    background: #ffffffca;
    ;
}

footer .container {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 4em 0;
}

footer .container div h4 {
    padding: 1em 0;
}

footer .container ul li {
    padding: 0.25em 0;
}

footer .container ul li a {
    color: black;
}

footer .container div:last-child form {
    display: flex;
    grid-template-columns: none;
    width: initial;
    padding: 0;

}

footer .container div:last-child form input[type="text"] {
    background: #F6F6F6;
    border: 1px solid #B8B8BF;
    width: initial;
    color: black;
}

footer .container div:last-child form ::placeholder {
    color: black;
}

footer button {
    padding: 1.8em;
    display: block;
    background: #FF6D6C url(../images/section7-buttonIcon.png) no-repeat 40% 50%;
    background-size: 60%;
}

footer button:hover {
    background: #ec5b5bc7 url(../images/section7-buttonIcon.png) no-repeat 40% 50%;
    background-size: 40%;
    cursor: pointer;
    transition: all 0.5s linear;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {

    /* Header */
    header.landing {
        padding: 10em 0;
    }
    header button {
        width: 40%;
    }

    /* Main */
    main {
        margin: 20% 0 0 0;
    }

    /* Design */
    section.design .container {
        grid-template-columns: 1fr;
    }

    section.design .container .text-container {
        width: initial;
        background: url(../images/decorationBox.png) no-repeat right top;
        padding: 4em;
    }
    section.design .container .accent-container {
        display: none;
    }

    /* Features */
    section.features .container>div:nth-child(2) div {
        width: 65%;
        margin: 0 auto;
    }

    /* Responsive */
    section.responsive .container {
        grid-template-columns: 1fr;
    }
    
    section.responsive .container div:first-child {
        display: none;
    }

    section.responsive .container div:nth-child(2) {
        padding: 5em 0;
        width: 90%;
    }
    
    /* Founders */
    section.founders .container {
        grid-template-rows: 50% 50%;
    }

    section.founders .container>div:first-child {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5em 0 0 0;
    }

    .founders-profile {
        width: 65%;
        justify-self: center;
        text-align: center;
    }

    section.founders .container .brands {
        display: grid;
        padding: 4em;
        justify-self: center;
        grid-gap: 1em;
        grid-template-columns: repeat(5, 1fr);
        margin: 4em;
    }

    /* Showcase */
    section.showcase .container {
        width: 80%;
    }

    /* Trial */
    section.trial .container {
        grid-template-rows: 25% 25% 25%;
        padding: 4em;
    }

    section.trial .container {
        grid-template-rows: 25% 25% 25%;
        padding: 4em;
    }

    
    section.trial button {
        width: 40%;
        justify-self: center;
        padding: 1em;
        background: #FF6D6D;
        -webkit-box-shadow: 0px 2px 8px #0000008a;
        box-shadow: 0px 2px 8px #0000008a;
        font-size: 1em;
        color: white;
        border: 0;
        font-family: inherit;
    }
    
    section.trial .container div:first-child > span {
        position: absolute;
        right: 15%;
        top: 75%;
    }
    
    section.trial .container div:first-child>span:before {
        content: initial;
    }
    
    /* Footer */
    footer .container {
        width: 80%;
    }
    
    form {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
        -ms-flex-align: center;
        align-items: center;
        padding: 3.5em 0;
        width: 55%;
        margin: 0 auto;
        grid-gap: 2em;
    }
    
    form input {
        width: 100%;
        margin: 0 auto;
        padding: 1em;
        background: transparent;
        border: 1px solid white;
        font-size: 1em;
        color: white;
        font-family: inherit;
    }
}

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 1.8em;
    }

    /* Header */
    header #heading-container,
    header #play-button-container,
    header div:last-child {
        width: 70%;
        margin: 0 auto;
    }

    /* Features */
    section.features .container {
        grid-template-rows: 50% 50%;
    }

    section.features .container > div:nth-child(2) div {
        width: 85%;
        margin: 0 auto;
    }

    section.features .container > div:nth-child(2) div > img {
        max-width: 25%;
        margin: 0 auto;
    }

    /* Founders */
    .founders-profile {
        width: initial;
        padding: 2em;
        text-align: center;
    }
    
    section.founders .container .brands {
        padding: 0;
    }

    section.founders .container .brands li img {
        width: 75%; 
    }

    /* Showcase */
    section.showcase .container {
        grid-template-rows: 50% 50%;
    }

    /* Footer */
    footer .container {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 25%);
        text-align: center;
        width: 75%;
    }

    footer .container > div,
    footer .container div:last-child form {
        padding: 1em;
    }

    footer .container div:last-child form input[type="text"] {
        width: 100%;
    }

    footer button {
        padding: 1.8em;
        display: block;
        background: #FF6D6B url(../images/section7-buttonIcon.png) no-repeat 45% 50%;
        background-size: 30%;
        width: 30%;
    }
}

@media only screen and (max-width: 425px) {

    /* Header */
    header.landing {
        padding: 7em 0;
    }
    header #heading-container,
    header #play-button-container,
    header div:last-child {
        width: 85%;
        margin: 0 auto;
    }

    header h1 {
        font-size: 2.4em;
    }

    header button {
        padding: 1em;
    }

    /* Design */
    section.design .container .text-container {
        background: none;
        padding: 2.5em;
    }

    /* Features */
    section.features {
        background: url(../images/section3-photoBackground.jpg) no-repeat center top;
        background-size: cover;
    }

    section.features .container>div:nth-child(2) {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        margin: 0em 0em 4em 0;
    }

    section.features .container>div:nth-child(2) div {
        width: 85%;
        margin: 0 auto;
        padding: 1em;
    }

    /* Responsive */
    section.responsive .container div:nth-child(2) {
        padding: 5em 1em;
        width: 80%;
    }

    /* Founders */
    section.founders .container>div:first-child {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
        padding: 5em 0 0 0;
    }

    .founders-profile {
        width: initial;
        padding: 2em;
        text-align: center;
    }

    section.founders .container .brands li img {
        width: 100%;
        animation: none;
    }

    /* Trial */

    section.trial .container div:first-child>span {
        position: absolute;
        right: 35%;
        top: 80%;
        font-size: 0.6em;
    }

    form {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
        -ms-flex-align: center;
        align-items: center;
        padding: 3.5em 0;
        width: 100%;
        margin: 0 auto;
        grid-gap: 1em;
    }

    form input {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        background: transparent;
        border: 1px solid white;
        font-size: 1em;
        color: white;
        font-family: inherit;
    }

    section.trial button {
        width: 50%;
        justify-self: center;
        padding: 1em;
        background: #FF6D6D;
        -webkit-box-shadow: 0px 2px 8px #0000008a;
        box-shadow: 0px 2px 8px #0000008a;
        font-size: 1em;
        color: white;
        border: 0;
        font-family: inherit;
    }
}

@media only screen and (max-width: 320px) {
    header h1 {
        font-size: 2.35em;
    }
}
/* Media queries end */